<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="RetryPolicyConfiguration" requirePermission="true" type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling, Version=5.0.1118.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <RetryPolicyConfiguration defaultRetryStrategy="Fixed Interval Retry Strategy" defaultSqlConnectionRetryStrategy="Fixed Interval Retry Strategy">
    <fixedInterval name="Fixed Interval Retry Strategy" maxRetryCount="5" />
  </RetryPolicyConfiguration>
  <typeRegistrationProvidersConfiguration>
    <clear />
    <add name="RetryPolicyConfiguration" sectionName="RetryPolicyConfiguration" />
  </typeRegistrationProvidersConfiguration>
  <spring>
    <context>
      <resource uri="assembly://GlobalEnglish.Recognition.SimpleService/GlobalEnglish.Recognition.SimpleService/SpringContext.xml" />
    </context>
  </spring>
  <appSettings>
    <add key="SaveHistoryAsynchronously" value="true" />
    <add key="RecycleAudioGarbage" value="true" />
    <add key="RecycleGarbage" value="true" />
    <add key="LogDefaultCategory" value="ASR Service" />
    <add key="LogSeverityLevel" value="Warning" />
    <add key="AudioConverterProcess" value="/bin/ffmpeg.exe" />
    <add key="AudioRecordFolder" value="C:/SiteLogs/audio" />
    <add key="AudioConversionFolder" value="C:/SiteLogs/audio" />
    <add key="ProxyFactory.InitializesCounters" value="false" />
    <add key="ServiceLaunchedRecognizer" value="false" />
    <add key="RecognizerWorkFolder" value="C:/SiteLogs/EduSpeak" />
    <add key="EduSpeak.package" value="/bin/App_Data/grammars/GE" />
    <add key="EduSpeak.config.DebugLevel" value="0" />
    <add key="EnableExclusion" value="false" />
    <add key="EnableEndpoints" value="false" />
    <add key="NoiseAcceptanceThreshold" value="15.0" />
    <add key="RequiredPhonemeCoveragePercentage" value="23" />
    <add key="SentenceAcceptanceThreshold" value="45" />
    <add key="PhraseAcceptanceThreshold" value="45" />
    <add key="PhonemeAcceptanceThreshold" value="2" />
    <add key="PhonemeExperienceThreshold" value="2.0" />
    <add key="PhonemeOccurrenceThreshold" value="8" />
    <add key="WordConfidenceThresholds" value="0,20,30,40" />
    <add key="EnoughPhonemeHistoryThreshold" value="12" />
    <add key="LowPhonemeScoreThreshold" value="2.0" />
    <add key="PhonemeExperience" value="8" />
    <add key="DoesBlobAudioUploadRequired" value="false" />
    <add key="BlobContainerName" value="asr" />
  </appSettings>
  <connectionStrings>
    <add name="SpeechRecognitionConnectionString" connectionString="Server=tcp:learnship-production-speech-service.ccsmbgudjzf4.eu-central-1.rds.amazonaws.com,1433;Initial Catalog=Speech;User ID=dbadmin;Password=Learnship2025;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="AzureTable" connectionString="DefaultEndpointsProtocol=http;AccountName=geprodasr;AccountKey=XFhk80g7oy/BeuWKp0Fd14/+3Lb5u+Vf4yr0lAs+INsXz/rY88I1gHQTy5TfgTEHgCZ5IFebxHZ5uaR2z5blIw==" />
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=geprodasr;AccountKey=XFhk80g7oy/BeuWKp0Fd14/+3Lb5u+Vf4yr0lAs+INsXz/rY88I1gHQTy5TfgTEHgCZ5IFebxHZ5uaR2z5blIw==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="GlobalEnglish" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %c %m%n" />
      </layout>
      <file value="${log4net.FileAppender.folderPath}/RecognitionService.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="GlobalEnglish" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="${log4net.root.level}" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <customErrors mode="Off"/>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="recognitions.svc" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="FileName, Content-Type, UserId, ExpectedResults, RecognitionType, Grammar, Accept" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="SimpleRecognitionService" behaviorConfiguration="SimpleRecognition.ServiceBehavior">
        <endpoint behaviorConfiguration="webHttp" binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding.http" contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="SimpleRecognition.ServiceBinding.http" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2097151" maxBufferSize="2097151">
          <readerQuotas maxDepth="32" maxStringContentLength="2097151" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="SimpleRecognition.ServiceBinding.https" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2097151" maxBufferSize="2097151">
          <readerQuotas maxDepth="32" maxStringContentLength="2097151" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="Instrumentation.ServiceBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SimpleRecognition.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="00:10:00" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://${hostName.InstrumentationService}/InstrumentationService/InstrumentationService.svc" binding="basicHttpBinding" bindingConfiguration="Instrumentation.ServiceBinding" contract="GlobalEnglish.Denali.InstrumentationServiceContract.IInstrumentationService" name="Instrumentation.ServiceBinding">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
<!--ProjectGuid: 5EDE3EF5-7D29-44B7-AA1B-D4019BBEA7CC-->