<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

  <!-- ISpeechFileRecognitionService for Flash format file -->
  <object id="SpeechRecognitionServer" name="ISpeechFileRecognitionService"
    type="GlobalEnglish.Recognition.Services.SpeechFileRecognizer, GlobalEnglish.Recognition.Services">
    <property name="FlashRecognizer" ref="FlashRecognitionService" />
    <property name="SpeexRecognizer" ref="SpeexRecognitionService" />
    <property name="WaveRecognizer" ref="WaveRecognitionService" />
  </object>

  <!-- ISpeechRecognitionServices for Flash format audio -->
  <object id="FlashRecognitionService" name="ISpeechRecognitionService"
    type="GlobalEnglish.Recognition.Services.TranscodeSpeechRecognizer, GlobalEnglish.Recognition.Services">
    <property name="AudioConverter" ref="FlashAudioConverter" />
    <property name="TargetSpeechRecognizer" ref="SpeexRecognitionService" />
  </object>

  <!-- ISpeechRecognitionServices for Speex format audio -->
  <object id="SpeexRecognitionService"
    type="GlobalEnglish.Recognition.Services.TranscodeSpeechRecognizer, GlobalEnglish.Recognition.Services">
    <property name="AudioConverter" ref="SpeexWaveConverter" />
    <property name="TargetSpeechRecognizer" ref="WaveRecognitionService" />
  </object>

  <!-- ISpeechRecognitionServices for Wave format audio -->
  <object id="WaveRecognitionService"
    type="GlobalEnglish.Recognition.Services.EduSpeakRecognizer, GlobalEnglish.Recognition.Services"
    factory-method="InitializeWithDefaultPackage" />


  <!-- Flash format audio converter (Flash => Speex) -->
  <object id="FlashAudioConverter"
    type="GlobalEnglish.Media.AudioConverters.FlashAudioConverter, GlobalEnglish.Media.AudioConverters" />

  <!-- Speex format audio converter (Speex => Wave) -->
  <object id="SpeexWaveConverter"
    type="GlobalEnglish.Media.AudioConverters.SpeexWaveConverter, GlobalEnglish.Media.AudioConverters" />

</objects>
