<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RetryPolicyConfiguration" requirePermission="true"
        type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling, Version=5.0.1118.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="typeRegistrationProvidersConfiguration"
        type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="AzureTable"
         connectionString="DefaultEndpointsProtocol=http;AccountName=geasrdev;AccountKey=qTwdF+/vjFzzz2raIiaLcu3ocsVy3zFTOyYn7Zyo/GFHd/+CvtPKyHaPvNSyMzqUQgyrb6p8eWr6imvX30J9AQ=="/>
    <add name="SpeechRecognitionConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=w5cr204uda.database.windows.net;Initial Catalog=SpeechRecognition;User ID=poem;Password=Brent532Beat"/>
    <add name="RepositoryModelContainer" 
         connectionString="metadata=res://*/RepositoryModel.csdl|res://*/RepositoryModel.ssdl|res://*/RepositoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dev3;Initial Catalog=SpeechRecognition;Persist Security Info=True;User ID=poem;Password=Brent532Beat;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <RetryPolicyConfiguration
    defaultRetryStrategy="Fixed Interval Retry Strategy"
    defaultSqlConnectionRetryStrategy="Fixed Interval Retry Strategy">
    <fixedInterval name="Fixed Interval Retry Strategy" maxRetryCount="5" />
  </RetryPolicyConfiguration>

  <typeRegistrationProvidersConfiguration>
    <clear />
    <add name="RetryPolicyConfiguration" sectionName="RetryPolicyConfiguration" />
  </typeRegistrationProvidersConfiguration>

  <appSettings>
    <add key="LowPhonemeScoreThreshold" value="2.0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
