<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="RetryPolicyConfiguration" requirePermission="true"
        type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling, Version=5.0.1118.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="typeRegistrationProvidersConfiguration"
        type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <RetryPolicyConfiguration
    defaultRetryStrategy="Fixed Interval Retry Strategy"
    defaultSqlConnectionRetryStrategy="Fixed Interval Retry Strategy">
    <fixedInterval name="Fixed Interval Retry Strategy" maxRetryCount="5" />
  </RetryPolicyConfiguration>

  <typeRegistrationProvidersConfiguration>
    <clear />
    <add name="RetryPolicyConfiguration" sectionName="RetryPolicyConfiguration" />
  </typeRegistrationProvidersConfiguration>

  <appSettings>
    <add key="LogDefaultCategory" value="ASR Service" />
    <add key="LogLevel" value="4" />

    <add key="AudioFolder" value="/Data/audio/samples"/>
    <add key="AudioConversionFolder" value="/SiteLogs/audio"/>
    <add key="AudioConverterProcess" value="/TestBin/ffmpeg.exe"/>

    <add key="ServiceLaunchedRecognizer" value="false"/>
    <add key="ProxyFactory.InitializesCounters" value="true"/>
    <add key="EnableExclusion" value="false"/>
    <add key="EnableEndpoints" value="false"/>
    <add key="RecycleAudioGarbage" value="true"/>
    <add key="RecycleGarbage" value="true"/>
    <add key="EduSpeak.package" value="/Data/grammars/GE"/>
    <add key="EduSpeak.config.DebugLevel" value="0"/>

    <add key="NoiseAcceptanceThreshold" value="15.0"/>
    <add key="RequiredPhonemeCoveragePercentage" value="23"/>
    <add key="SentenceAcceptanceThreshold" value="45"/>
    <add key="PhraseAcceptanceThreshold" value="45"/>
    <add key="PhonemeAcceptanceThreshold" value="2"/>
    <add key="PhonemeExperienceThreshold" value="2.0"/>
    <add key="PhonemeOccurrenceThreshold" value="8"/>
    <add key="WordConfidenceThresholds" value="0,20,30,40"/>
  </appSettings>

  <connectionStrings>
    <add name="AzureTable"
         connectionString="DefaultEndpointsProtocol=http;AccountName=geasrdev;AccountKey=qTwdF+/vjFzzz2raIiaLcu3ocsVy3zFTOyYn7Zyo/GFHd/+CvtPKyHaPvNSyMzqUQgyrb6p8eWr6imvX30J9AQ=="/>

    <add name="SpeechRecognitionConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=w5cr204uda.database.windows.net;Initial Catalog=Speech;User ID=poem;Password=Brent532Beat"/>

    <!--<add name="SpeechRecognitionConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SpeechRecognition;Trusted_Connection=True" />-->
  </connectionStrings>

  <spring>
    <context type="Spring.Context.Support.XmlApplicationContext, Spring.Core">
      <resource uri="assembly://GlobalEnglish.Recognition.Services/GlobalEnglish.Recognition.Services/SpringContext.xml"/>
    </context>
  </spring>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>

  <!-- This section contains the log4net configuration settings -->
  <log4net>

    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="GlobalEnglish"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-5p %c %m%n"/>
      </layout>
      <file value="\SiteLogs\Work\ServiceTestFixture.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd"/>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="GlobalEnglish"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="${RECPORT} %d %-5p %c %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://gespeechsandbox.cloudapp.net/recognitions.svc"
                contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService"
                name="SimpleRecognitionService" behaviorConfiguration="webHttp"
                binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding"
                />
      <!--<endpoint address="http://gespeechstage.cloudapp.net/recognitions.svc" 
                contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService" 
                name="SimpleRecognitionService" behaviorConfiguration="webHttp"
                binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding"
                />-->
      <!--<endpoint address="http://10.1.2.157/recognitions.svc"
                contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService"
                name="SimpleRecognitionService" behaviorConfiguration="webHttp"
                binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding"
                />-->
      <!--<endpoint address="http://10.1.2.159/speech/web/recognitions.svc"
                contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService"
                name="SimpleRecognitionService" behaviorConfiguration="webHttp"
                binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding"
                />-->
      <!--<endpoint address="http://localhost/GlobalEnglish.Recognition.Web/recognitions.svc" 
                contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService" 
                name="SimpleRecognitionService" behaviorConfiguration="webHttp"
                binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding"
                />-->
      <!--<endpoint address="http://win764nboyd.globalenglish.org/GlobalEnglish.Recognition.Web/recognitions.svc" 
                contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService" 
                name="SimpleRecognitionService" behaviorConfiguration="webHttp"
                binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding"
                />-->
      <!--<endpoint address="http://hqge2asr01-dev.engineering.globalenglish.org/speech/web/recognitions.svc"
                contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService"
                name="SimpleRecognitionService" behaviorConfiguration="webHttp"
                binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding"
                />-->
      <!--<endpoint address="http://10.1.6.104/speech/web/recognitions.svc"
                contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService"
                name="SimpleRecognitionService" behaviorConfiguration="webHttp"
                binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding"
                />-->
      <!--<endpoint address="http://10.129.53.38/speech/web/recognitions.svc"
                contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService"
                name="SimpleRecognitionService" behaviorConfiguration="webHttp"
                binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding"
                />-->
      <!--<endpoint address="http://209.34.91.211/speech/web/recognitions.svc"
                contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService"
                name="SimpleRecognitionService" behaviorConfiguration="webHttp"
                binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding"
                />-->
      <!--<endpoint address="http://10.129.51.53/speech/web/recognitions.svc"
                contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService"
                name="SimpleRecognitionService" behaviorConfiguration="webHttp"
                binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding"
                />-->
      <!--<endpoint address="http://edge.globalenglish.com/speech/web/recognitions.svc"
                contract="GlobalEnglish.Recognition.ServiceContracts.ISimpleRecognitionService"
                name="SimpleRecognitionService" behaviorConfiguration="webHttp"
                binding="webHttpBinding" bindingConfiguration="SimpleRecognition.ServiceBinding"
                />-->

      <endpoint address="http://10.1.2.150/InstrumentationService/InstrumentationService.svc"
                binding="basicHttpBinding" bindingConfiguration="Instrumentation.ServiceBinding"
                contract="GlobalEnglish.Denali.InstrumentationServiceContract.IInstrumentationService"
                name="Instrumentation.ServiceBinding">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
    <bindings>
      <webHttpBinding>
        <binding name="SimpleRecognition.ServiceBinding" 
                 closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" 
                 maxReceivedMessageSize="2097151" maxBufferSize="2097151"/>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="Instrumentation.ServiceBinding" closeTimeout="00:10:00"
                 openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
