<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="SpeechRecognitionConnectionString"
		  connectionString="Data Source=dev3;Initial Catalog=SpeechRecognition;User ID=poem;Password=Brent532Beat"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="PhonemeScoreLowScore" value="3.5"/>
		<add key="PhonemeRecordQualifiedThreshold" value="1"/>
	</appSettings>
</configuration>